<h1>タブローイード一覧</h1>

<div class="flex_tabloiid-box">
  <% @tabloiids.each do |t| %> 
    <div class="flex_tabloiid-item">
      <%= link_to(t.file_path) do %>
        <img src="<%= t.image_path %>" width="300px" height="200px" >
      <% end %>
      <p><%= t.file_name %></p>
      <p>アップロード日: <%= t.date.strftime("%m月 %d日") %></p>
    </div>
  <% end %>
</div>

<div class="appload">
  <button>
    <%= link_to "新規アップロード", new_path %>
  </button>
</div>